# Terraform
**/.terraform
**/.terraform.lock.hcl
**/**.zip

# Frontend - Web App
**/node_modules
**/dist
**/build
**/.DS_Store
**/package-lock.json

# Backend - Agent
.venv
**/__pycache__
repl_state/repl_state.pkl
